/* .urlToImage
{
    padding-bottom: 20%;
    padding-top: 20%;
    background-size: cover;
}
.news-details
{
    margin-top: 10%;
}
.news-details h3
{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bolder;
} */
