.urlToImage
{
    padding-bottom: 40%;
    padding-top: 30%;
    background-size: cover;
}
.news-details
{
    margin-top: 20%;
}
.news-details h3
{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bolder;
}
p
{
    font-size: 23px;
}
.overview
{
    text-align: right;
}
.ratings
{
    text-align: right;
    color: green;

}