{% extends 'base.html'%} {% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %}

<!-- Content block -->

{% block content %}
<div class="container">
    <div class=" jumbotron">
        <h3 style="color:black; text-align:center"> Popular News</h3>
        
    </div>
  {% for news in popular %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">{{ news.author }}</h5>
      <p>{{ news.name|truncate(20)}}</p>
      <a
        href="/news/{{ news.id }}"
        class="btn"
        style="color: #fff; background-color:teal;"
        >See more from this site</a>
      </div>
    </div>
  </div>

</div>
{% endfor %} {% endblock%}
