<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to the best news Review website</title>
    {% endif %}
  </head>
   
  <body>
    
    {% extends 'base.html'%}
    {% import 'macros.html' as macro%}
    <!-- Styles block -->

    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
    <!-- Content block -->
    {% block content %}
    <div class="container">
        <form>
            <input type="text" name="news_query" placeholder="Search for a News" class="form-control">
            <input type="submit"  value="Submit" class="btn btn-default">
        </form>
    
    </div>

    <!-- general news -->
    <h3> general news</h3>
    <ul>
        {{ macro.displayNewsList(general)}}
    </ul>
    <!-- business news  -->
    <h3> business news </h3>
    <ul>
        {{ macro.displayNewsList(business)}}
    </ul>
    <!-- technology news -->
    <h3>technology</h3>
    <ul>
        {{ macro.displayNewsList(technology)}}
    </ul>


{% endblock%}
    </ul>
  </body>
</html>
