{% macro displayNewsList(news_list) %} 
  {% for news in news_list %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel" style="border-bottom: 1px solid brown;">
      <div class="panel-heading" style="background-color:cyan; color: #fff; font-size: 18px;">{{news.name}}
      </div>
      <div class="panel-body" style="font-size: 16px;">
        <p>{{news.name| truncate(100)}}</p>
        <a href="/news/{{news.id}}" class="btn" style="color: #fff; background-color: #000;">See more from this site</a>
      </div>
    </div>
  </div>
  {% endfor %} 
{% endmacro %}
